<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>616259283640-m2s0gfiagsnkcbgr3fjjvja20c174rkk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.616259283640-m2s0gfiagsnkcbgr3fjjvja20c174rkk</string>
	<key>API_KEY</key>
	<string>AIzaSyDB9hH3x23sH1R9VFpi9rn1ya7biZvEO3I</string>
	<key>GCM_SENDER_ID</key>
	<string>616259283640</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.onuralpyahnici.SnapchatProject</string>
	<key>PROJECT_ID</key>
	<string>snapchatclone-5a4cb</string>
	<key>STORAGE_BUCKET</key>
	<string>snapchatclone-5a4cb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:616259283640:ios:7381d81744b28d619aa24d</string>
</dict>
</plist>